doctype html
html(ng-app="yourApp")
  body(i18n-init=i18n.getLocale())
    ul
      li
        a(href="/") {{"Home"|i18n}}
      li
        code
          a(ng-click="i18nInit = 'en'", href="#") Force client-side locale: en
      li
        code
          a(ng-click="i18nInit = 'de'", href="#") Force client-side locale: de

    div(ng-view, role="main")

    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js")
    script(src="i18n-node-angular.js")

    script.
      // Depend on i18n module
      var yourApp = angular.module( "yourApp", [ "ngRoute", "i18n" ] )
          .config( [ "$routeProvider", "$locationProvider", function( $routeProvider, $locationProvider ) {
              $routeProvider
                  .when( "/", {
                      templateUrl : "start",
                      controller : IndexController,
                      "i18nData": function( i18n ) { return i18n.ensureLocaleIsLoaded(); }
                    } );
                    $locationProvider.html5Mode( true );
          } ] )
          .factory( "MyService", function( i18n ) {
              // Use i18n service injected into this service.
              console.log( i18n.__( "My translation phrase" ) );
          } );

      function IndexController( i18n, $scope ) {
          $scope.i18n = i18n;
          // Use i18n service injected into this controller.
          console.log( "Instant: " + i18n.__( "My translation phrase" ) );
          i18n.ensureLocaleIsLoaded().then( function() {
              console.log( "Insured: " + i18n.__( "My translation phrase" ) );
          } );
      }
