doctype html
html(ng-app="yourApp", i18n-locale=i18n.getLocale())
	body
		ul
			li
				a(href="/") {{"Home"|i18n}}
			li
				code
					a(ng-click="i18nLocale = 'en'", href="#") Force client-side locale: en
			li
				code
					a(ng-click="i18nLocale = 'de'", href="#") Force client-side locale: de
			li
				code
					a(ng-click="i18nLocale = 'fr'", href="#") Force client-side locale: fr

		div(ng-view, role="main")

		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js")
		script(src="sprintf.js")
		script(src="i18n-node-angular.js")
		script(src="demo.js")
