p #{__("This string is translated on the server side.")}
p {{"This Text is dynamically translated on the client side, using an Angular filter."|i18n}}
p {{i18n.__("You can also translate through i18n.__() and wait for a scope digest!")}}
p(ng-show="i18n.loaded") {{"This text appears when the locale has been loaded."|i18n}}